html {
  background: url(../images/3d-threat-space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

ul {
  margin: 0 0 10px 0;
}

li {
  list-style-type: hiragana;
}

a:hover {
  color: #fff;
}

a {
  color: #fff;
}

.title-bar {
  display: none;
  background-color: #000;
}



.link-content {
  color: #fff;
  margin-top: 128px;
}

.overlay {
  background: url(../images/stiple-bg.png);
}

.issue-title {
  font-size: 1em;
}