html {
  background: url(../images/3d-threat-space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  height: 100%;
}

ul {
  margin: 0 0 10px 0;
}

li {
  list-style-type: hiragana;
  line-height: 18px;
}

a:hover {
  color: #fff;
}

a {
  color: #fff;
}

.title-bar {
  display: none;
  background-color: #000;
}



.link-content {
  color: #fff;
  padding-top: 128px;
  /*height: 60%;*/
  /*background-color: red;*/
  /*overflow: scroll;*/
}

.overlay {
  background: url(../images/stiple-bg.png);
}

.issue-title, .issue-number, .name, .section-title {
  font-size: 1em;
  line-height: 1em;
}

.issue-title {
  color: #ffff00;
}

.masthead {
  margin-bottom: 24px;
  display: none;
}