body {
  background-color: #f0f0f0;
  color: #363636;
  font-size: 12px;
  line-height: 18px;
}



ul {
  list-style-type: none;
  margin: 0;
}

a:hover {
  color: #777;
  text-decoration: none;
}

a {
  color: #acacac;
  font-weight: 700;
}

.section-title {
  font-size: 1em;
  line-height: 1em;
}

.bar {
  background-color: #000;
  height: 64px;
}

.name {
  font-size: 30px;
  line-height: 1em;
  color: #d6d6d6;
  text-shadow: 0 1px #fff;
}


.issue-title {
  font-size: 12px;
  line-height: 1em;
  /*display: none;*/

}