<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vulgar Auteurism</title>
    <meta name="description" content="Striving to exhume from the bone-pile of Hollywood cinema the strange, 'vulgar' formalists and obsessives that are too unique and talented to be forgotten">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href='//fonts.googleapis.com/css?family=Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {{ content }}

  <footer>
      <section class="about content" id="about-vulgar-auteurism">
          <h2 class="about-vulgar">What is Vulgar Auteurism?</h2>
          <p class="intro">Vulgar Auteurism looks to appreciate and analyze filmmakers largely written off as inconsequential, shallow or just plain stupid. Directors who have distinct formal visions and preoccupations, but are received largely with derision by the critical community at large, as well as the bulk of cinephiles. It has become customary, even reflexive, to write off such directors, due, for the most part, to their status as compromised artists, and the slightness of the subjects they approach. Vulgar Auteurism seeks to (re)discover an appreciation of these studio craftsmen, striving to exhume from the bone-pile of Hollywood cinema the strange, “vulgar” formalists and obsessives that are too unique and talented to be forgotten.</p>

          <p class="conclusion">However, such a clean understanding of this mode of appreciation is difficult to glean in the cinema landscape of the 21st century. The advent of the Internet and major shifts in the studio system make traditional interpretation largely impossible. The radical changes leave even the Vulgar Auteurists themselves without a truly clear definition. This site will seek to index pieces on vulgar auteurism written by ourselves as well as function as an evolving repository for links to outside articles that we feel explore and analyze the films and filmmakers we believe fit under the broad umbrella of vulgar auteurism, as well as help define core concept itself. We hope, ultimately, to provide a “guide” to interpreting, experiencing, and engaging with Vulgar Auteurism.</p>
      </section>

      <section class="extras">
          <div class="shoutouts">
              <p>Words and content by Danny Kasman.<br />Design/layout by Ryan Ming <a href="https://twitter.com/ryanming" class="quiet">@ryanming</a>.<br /></p>
              <p>We're on <a href="" class="quiet">Twitter</a> and <a href="" class="quiet">tumblr</a>. Brap brap.</p>
          </div>
          <div class="copyright">&copy; 2013 Vulgar Auteurism. All rights reserved.</div>
      </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="/javascripts/jquery.fittext.js"></script>
  <script src="/javascripts/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
